.option__wrapper{
    padding-bottom: 103px;
    padding-top: 102px;
    padding-left: 5px;
    padding-right: 5px;
}
.option__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.option__item{
    display: flex;
   
    &-img{
        margin-right: 17.58px;
    }
    &-text{
        margin-top: 20px;
    }
    &-title{
        margin-bottom: 23px;
        font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 150%;
color: rgba(255, 255, 255, 0.7);
    }
    &-subtitle{
        width: 311px;
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
color: rgba(255, 255, 255, 0.6);
    }
}

@media screen and (max-width:1210px) {
    .option__items{
      justify-content: center;
      margin-top: 100px;
    }
    .option__item{
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:450px) {
    .option__wrapper{
        padding-bottom: 40px;
    }
    .option__items{
        margin-top: 170px;
    }
    .option__item-img{
        img{
            width: 50px;
            height: 50px;
        }
    }
    .option__item-text {
        margin-top: 15px;
    }
    .option__item-title {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .option__item-subtitle {
        width: 207px;
        font-size: 11px;
    }
}