<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__block">
        <div class="logo"><img src="../img/logo.png" alt="logo"></div>
        <div class="footer__subtitle"><p>Any feedback or questions?Contact us on our social media</p></div>
        <div class="social">
        <div class="social__item">
          <img src="../img/facebook-icon.png" alt="">
        </div>
        <div class="social__item">
          <img src="../img/twitter-icon.png" alt="">
        </div>
        <div class="social__item">
          <img src="../img/instagram-icon.png" alt="">
        </div>
      </div>
      </div>
      <div class="footer__lists">
        <div class="footer__block-list">
          <div class="footer__list-title">Menu</div>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="#" class="footer__link">Home</a></li>
            <li class="footer__list-item"><a href="#" class="footer__link">Courses</a></li>
            <li class="footer__list-item"><a href="#" class="footer__link">Webinar</a></li>
          </ul>
      </div>
      <div class="footer__block-list">
        <div class="footer__list-title">Services</div>
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#" class="footer__link">Materials Update</a></li>
          <li class="footer__list-item"><a href="#" class="footer__link">Trusted Mentor</a></li>
          <li class="footer__list-item"><a href="#" class="footer__link">Free E-book</a></li>
          <li class="footer__list-item"><a href="#" class="footer__link">Meeting</a></li>
          
        </ul>
    </div>
    <div class="footer__block-list">
      <div class="footer__list-title">Further Information</div>
      <ul class="footer__list">
        <li class="footer__list-item"><a href="#" class="footer__link">Terms & Conditions</a></li>
        <li class="footer__list-item"><a href="#" class="footer__link">Privacy Policy</a></li>
      </ul>
  </div>
  <div class="footer__block-list">
    <div class="footer__list-title">Apps Download</div>
    <ul class="footer__list">
      <li class="footer__list-item"><a href="#" class="footer__link">Google Play Store</a></li>
      <li class="footer__list-item"><a href="#" class="footer__link">App Store</a></li>
    </ul>
</div>
      </div>
     
    </div>

    <div class="copyright">
      <div class="copyright__text">Copyright ©
        2021 Sinauw. All Rights Reserved.</div>
         </div>
  </div>
</footer>
