<section class="get__page">
    <div class="container">
        <div class="get__wrapper">
            <div class="get__item">
                  <div class="get__left">
                <div class="get__title">
                    <h2>Get Our Apps, Now!</h2>
                </div>
                <div class="get__subtitle">
                    <p>Reach out our apps everywhere and everytime with Sinauw Mobile Application.</p>
                </div>
                <div class="get__buttons">
                    <a href="#" class="get__button"><img src="../img/goglePlay.png" alt=""></a>
                    <a href="#" class="get__button"><img src="../img/appleStory.png" alt=""></a>
                </div>
            </div>
            <div class="get__right">
                <div class="get__right-top">
                    <div class="get__right-info">
                        <div class="get__right-image"><img src="../img/user.png" alt=""></div>
                        <div class="get__right-np">
                            <div class="get__right-name">Hello, Alexander</div>
                            <div class="get__right-position">Premium Member</div>

                        </div>
                    </div>
                    <div class="get__crown"><img src="../img/crown.png" alt=""></div>


                </div>
                <div class="get__right-center">
                    <div class="get__lamp"><img src="../img/lamp.png" alt=""></div>
                    <div class="get__text">
                        <div class="get__lamp-title"><h4>Grow Your Skill, Join Now!</h4></div>
                        <div class="get__lamp-subtitle"><p>We have something big for you who want to level up!</p></div>
                    </div>


                </div>
                  <div class="get__items-images">
                <div class="get__img"><img src="../img/get__item1.png" alt=""></div>
                <div class="get__img"><img src="../img/get__item2.png" alt=""></div>
                <div class="get__img"><img src="../img/get__item3.png" alt=""></div>
              </div>

              <div class="get__items">
                <div class="get__progress">
                    <div class="get__progress-img"><img src="../img/progress.png" alt=""></div>
                    <div class="get__progress-nav">
                        <div class="get__progress-title">Courses Progress</div>
                    <div class="get__progress-right"><img src="../img/svg/chevron-right.svg" alt=""></div>
                    </div>
                    
                </div>
                <div class="get__progress">
                    <div class="get__progress-img"><img src="../img/computer.png" alt=""></div>
                    <div class="get__progress-nav">
                        <div class="get__progress-title">Class Collections</div>
                    <div class="get__progress-right"><img src="../img/svg/chevron-right.svg" alt=""></div>
                    </div>
                    
                </div>
              </div>
            </div>
            </div>
          
          
        </div>
    </div>
</section>