<header class="header">
  <div class="container">
    <div class="header__wrapper">   
           <div class="burger__img"><img src="../img/burger.png" alt=""></div>
      <div class="header__left">

        <div class="logo"><img src="../img/logo.png" alt="logo"></div>
        
      <nav class="menu">
        <ul class="list">
          <li class="list__item">
            <a  class=" list__link" href="#">Home</a>
          </li>
          <li class="list__item">
            <a  class=" list__link" href="#">Courses</a>
          </li>
          <li class="list__item">
            <a  class=" list__link" href="#">Webinar</a>
          </li>
          <li class="list__item">
            <a  class=" list__link" href="#">Pricing</a>
          </li>
          <div class="close__btn"><img src="../img/close.png" alt=""></div>
          <div class="langrauge">
            <div class="langrauge__text">
              Eng
            </div>
            <div class="langrauge__img"><img src="../img/globe.png" alt="globus"></div>
          </div>
        </ul>
        
      </nav>
      </div>
      <div class="header__right">
        <div class="langrauge">
          <div class="langrauge__text">
            Eng
          </div>
          <div class="langrauge__img"><img src="../img/globe.png" alt="globus"></div>
        </div>
        <div class="header__btn">
          <a  class="header__btn-button" href="#">Login</a>
        </div>
      </div>
    </div>
  </div>
</header>
