<section class="hero">
        <div class="hero__wrapper">
            <div class="hero__right">
                <img class="hero__img-main" src="../img/hero__img-main.png" alt="">
                <img  class="hero__img1" src="../img/hero__img1.png" alt="">
                <img  class="hero__img2" src="../img/hero__img2.png" alt="">
                <div class="hero__right-block">
                    <div class="hero__right-users">
                        
                            <img class="hero__right-user" src="../img/user1.png" alt="">
                            <img class="hero__right-user" src="../img/user2.png" alt="">
                            <img class="hero__right-user" src="../img/user4.png" alt="">
                            <img class="hero__right-user" src="../img/user3.png" alt="">
                            <img class="hero__right-user" src="../img/user_next.png" alt="">
                        <div class="hero__right-text">
                            More than 80k+ Students 
                            <span>joined!</span>
                        </div>
                    </div>
                    
                </div>
            </div>
             <div class="hero__left">
            <div class="hero__text">
                <h1 class="hero__title">Grow Your Skills To Advance Your Career Path.</h1>
                <p class="hero__subtitle">We have something big for you who want to level up!</p>
            </div>
            <div class="hero__input-block">
                <input class="hero__input" type="text" placeholder="What do you want to learn...">
            </div>
            <div class="suggestion">
                <div class="suggestion__title">Suggestions</div>
                <div class="suggestion__items">
                    <div class="suggestion__item">UI UX Design</div>
                    <div class="suggestion__item">CSS Fundamental</div>
                    <div class="suggestion__item">3D Design Illustration</div>
                    <div class="suggestion__item">Website Development</div>
                    <div class="suggestion__item">Logo Design</div>
                    <div class="suggestion__item">Icon Design</div>
                </div>
            </div>
             </div>
        </div>
       
</section>