<section class="page__option">
    <div class="container">
        <div class="option__wrapper">
            <div class="option__items">
                <div class="option__item">
                    <div class="option__item-img"><img src="../img/option__item-img1.png" alt=""></div>
                    <div class="option__item-text">
                        <div class="option__item-title"><h4>Get New Friends</h4></div>
                        <div class="option__item-subtitle"><p>You will meet new friends in some of classes that you take. Say hello to them and make friends, it will be so much warm friendship!</p></div>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__item-img"><img src="../img/option__item-img2.png" alt=""></div>
                    <div class="option__item-text">
                        <div class="option__item-title"><h4>Expert and Fun Mentor</h4></div>
                        <div class="option__item-subtitle"><p>Learn with earnest and don’t forget to get relax too. Learn and enjoy the materials or classes with our expert mentors.</p></div>
                    </div>
                </div>
                <div class="option__item">
                    <div class="option__item-img"><img src="../img/option__item-img3.png" alt=""></div>
                    <div class="option__item-text">
                        <div class="option__item-title"><h4>Flexible Access</h4></div>
                        <div class="option__item-subtitle"><p>You can access materials or classes easily by our website also mobile. Access it everywhere and everytime, no limit for you to learn!</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>