<section class="page__want">
    <div class="container">
        <div class="want__wrapper">
            <div class="want__text">
                <div class="want__title"><h2>Course Pricing</h2></div>
                <div class="want__subtitle"><p>Choose pricing that suits to your need.</p></div>
            </div>
           <div class="price__items">
            <div class="price__item">
                <div class="price__item-top">
                    <div class="price__item-image"><img src="../img/course__item1.png" alt=""></div>
                    <div class="price__item-info">
                        <div class="price__item-title">Free</div>
                        <div class="price__item-price">0<span>/ month</span></div>
                    </div>
                </div>
                <div class="price__item-center">
                    <ul class="price__item-list">
                        <li class="price__list-item" >Free e-book for every class</li>
                        <li class="price__list-item" >Materials update every day</li>
                        <li class="price__list-item" >Free download material videos</li>
                        <li class="price__list-item" >Unlock 5 material videos</li>
                    </ul>
                </div>
                <div class="price__item-footer"><button class="price__button">Your Current Package</button></div>
            </div>
            <div class="price__item">
                <div class="price__item-top">
                    <div class="price__item-image"><img src="../img/key.png" alt=""></div>
                    <div class="price__item-info">
                        <div class="price__item-title">Express</div>
                        <div class="price__item-price">75<span>/ month</span></div>
                    </div>
                </div>
                <div class="price__item-center">
                    <ul class="price__item-list">
                        <li class="price__list-item" >Free e-book for every class</li>
                        <li class="price__list-item" >Materials update every day</li>
                        <li class="price__list-item" >Free download material videos</li>
                        <li class="price__list-item" >Meeting 2 times a week</li>
                        <li class="price__list-item" >Unlock 15 material videos</li>
                    </ul>
                </div>
                <div class="price__item-footer"><button class="price__button">Your Current Package</button></div>
            </div>
            <div class="price__item">
                <div class="price__item-top">
                    <div class="price__item-image"><img src="../img/premium.png" alt=""></div>
                    <div class="price__item-info">
                        <div class="price__item-title">Premium</div>
                        <div class="price__item-price">115<span>/ month</span></div>
                    </div>
                </div>
                <div class="price__item-center">
                    <ul class="price__item-list">
                        <li class="price__list-item" >Free e-book for every class</li>
                        <li class="price__list-item" >Materials update every day</li>
                        <li class="price__list-item" >Free download material videos</li>
                        <li class="price__list-item" >Private chat with mentor</li>
                        <li class="price__list-item" >Meeting 3 times a week</li>
                        <li class="price__list-item" >Unlock up to 30 material videos</li>
                        <li class="price__list-item" >Unlimited saved class</li>
                    </ul>
                </div>
                <div class="price__item-footer"><button class="price__button">Your Current Package</button></div>
            </div>
           </div>
        </div>
    </div>
</section>