<section class="page__want">
    <div class="container">
        <div class="want__wrapper">
            <div class="want__text">
                <div class="want__title"><h2>What Do You Want to Learn?</h2></div>
                <div class="want__subtitle"><p>Choose the right class as you need. Then enjoy studying.</p></div>
            </div>
            <div class="want__items">
                <div class="want__item">
                    <div class="want__item-img">
                        <img src="../img/want-item-img1.png" alt="">
                        <div class="amount">12 Videos</div>
                    </div>
                    <div class="want__item-info">
                        <span>Technology</span>
                        <div class="want__item-title"><h3>Digital Marketing Strategy</h3></div>
                        <div class="want__item-subtitle"><p>This course aims to give you deeper understanding of core processes ...</p></div>
                    </div>
                    <div class="want__item-author">
                        <div class="want__item-image"><img src="../img/author1.png" alt=""></div>
                        <div class="want__item-person">
                            <div class="want__item-name">Joey Piere</div>
                            <div class="want__item-position">Mentor</div>
                        </div>
                    </div>
                    <div class="want__item-button"><button class="want__item-btn">Access Class</button></div>
                </div>
            </div>
        </div>
    </div>
</section>