// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500;700 & display=swap');
// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/hero";
@import "./components/want.scss";
@import "./components/option.scss";
@import "./components/price.scss";
// тестовые стили, удалите их

.page__body{
  background: #171836;
}
.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.person{

}